.button-wrapper {
  width: 100%;
}

.button-wrapper input{
  width: 100%;
  height: 56px;
  background-color: #0880AE;
  border: none;
  border-radius: 6px;
  color: #EBF4F8;
  font-family: 'IBM Plex Size Normal';
  font-size: 16px;
  line-height: 21px;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08)
}

.button-wrapper input:disabled {
  background-color: #DBE2EA;
  color: #B1B5BF;
}

.button-wrapper input:active {
  border: 2px solid rgba(44, 39, 56, 0.86)
}